<html>
<head>
<title>calc</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
<html>
<head>
	<style type="text/css">@import "view/style/jbehave-core.css";</style>
</head>

<body>
<div class="story">
<h1>Funcionalidade: Operar Calculadora
Eu quero: utilizar as funcionalidasde b&aacute;sicas da calculadora
De modo que: a calculadora execute as opera&ccedil;&otilde;es b&aacute;sicas</h1>
<div class="path">stories\calc.storyConverted</div>
<div class="scenario">
<h2>Cen&aacute;rio: Limpar Calculadora no In&iacute;cio</h2>
<div class="step successful">Quando inicio a Calculadora</div>
<div class="step successful">Ent&atilde;o seu valor ser&aacute; &quot;0&quot;</div>
</div>
<div class="scenario">
<h2>Cen&aacute;rio: Limpar Calculadora depois de uma opera&ccedil;&atilde;o</h2>
<div class="step successful">Quando inicio a Calculadora</div>
<div class="step successful">E adiciono &quot;5&quot;</div>
<div class="step successful">Ent&atilde;o seu valor ser&aacute; &quot;5&quot;</div>
<div class="step successful">Quando limpo</div>
<div class="step successful">Ent&atilde;o seu valor ser&aacute; &quot;0&quot;</div>
</div>
<div class="scenario">
<h2>Cen&aacute;rio: Somar</h2>
<div class="step successful">Quando inicio a Calculadora</div>
<div class="step successful">Quando adiciono &quot;5&quot;</div>
<div class="step successful">Quando adiciono &quot;7&quot;</div>
<div class="step successful">Ent&atilde;o seu valor ser&aacute; &quot;12&quot;</div>
</div>
<div class="scenario">
<h2>Cen&aacute;rio: Subtracao</h2>
<div class="step successful">Quando inicio a Calculadora</div>
<div class="step successful">Quando adiciono &quot;10&quot;</div>
<div class="step successful">Quando subtraio &quot;2&quot;</div>
<div class="step successful">Ent&atilde;o seu valor ser&aacute; &quot;8&quot;</div>
</div>
<div class="scenario">
<h2>Cen&aacute;rio: Multiplica&ccedil;&atilde;o</h2>
<div class="step successful">Quando inicio a Calculadora</div>
<div class="step successful">Quando adiciono &quot;10&quot;</div>
<div class="step successful">Quando multiplico &quot;2&quot;</div>
<div class="step successful">Ent&atilde;o seu valor ser&aacute; &quot;20&quot;</div>
</div>
<div class="scenario">
<h2>Cen&aacute;rio: Divis&atilde;o</h2>
<div class="step successful">Quando inicio a Calculadora</div>
<div class="step successful">Quando adiciono &quot;10&quot;</div>
<div class="step successful">Quando divido &quot;2&quot;</div>
<div class="step successful">Ent&atilde;o seu valor ser&aacute; &quot;5&quot;</div>
</div>
<div class="scenario">
<h2>Cen&aacute;rio: Quatro opera&ccedil;&otilde;es</h2>
<div class="step successful">Quando inicio a Calculadora</div>
<div class="step successful">Quando adiciono &quot;10&quot;</div>
<div class="step successful">Quando divido &quot;2&quot;</div>
<div class="step successful">Quando multiplico &quot;5&quot;</div>
<div class="step successful">Quando subtraio &quot;1&quot;</div>
<div class="step successful">Ent&atilde;o seu valor ser&aacute; &quot;24&quot;</div>
</div>
</div>

</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
